
<div id="page-content-header">
    <div>
        <h1 class="title">Sheet Approver</h1>    
        <support-statement></support-statement>
    </div>
</div>
<div id="page-content-search">
    <div class="lui-bg-inverse">
        <div class="lui-search lui-search--inverse">
            <span class="lui-search__search-icon"></span>
            <input type="text" class="lui-search__input" maxlength="255" spellcheck="false" placeholder="Search" />
            <span class="lui-search__clear-icon"></span>
        </div>
    </div>
</div>
<div id="page-content-body">
    <sheet-approver-body></sheet-approver-body>
</div>
<div id="page-content-footer">
    <usage-statement></usage-statement>
</div>