<button class="lui-button  lui-button--toolbar-inverse support" ng-click="goSupport = !goSupport">?</button>
<div class="dialog-content" ng-show="goSupport">
    <div class="lui-dialog  lui-dialog--inverse" style="width: 600px;">
        <div class="lui-dialog__header">
            <div class="lui-dialog__title">About Qlik Sense QMC Utility</div>
        </div>
        <div class="lui-dialog__body">
            Use this Qlik Power Tool at your own risk. It is not supported by Qlik.
        </div>
        <div class="lui-dialog__footer">
            <button class="lui-button  lui-button--inverse  close-button" style="margin-top: -40px;" ng-click="goSupport = !goSupport">OK</button>
        </div>
    </div>
</div>
